@use "styles/variables.module.scss" as *;
@use "styles/functions.module.scss" as *;
@use "styles/mixins.module.scss" as *;

.root {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: rem(80);

  @include minWidth ('tablet') {
    gap: rem(160);
  }

  @include minWidth ('desktop') {
    gap: rem(180);
  }

  .section {
    @include sectionTemplate;

    .subContainer {
      @include gridLayout(150px);

      .itemCard {
        @include nestedSectionSizing;
      }
    }
  }

  .hero {
    @include blockLayout;
    @include contentSizing;
    align-items: flex-start !important;

    @include minWidth("tablet") {
      align-items: unset
    }

    @include minWidth("desktop") {
      width: 100%;
      flex-direction: row;

      .title {
        text-align: start;
      }
    }

    .heroRight {
      display: flex;
      flex-direction: column;
      gap: rem(16);

      @include minWidth("desktop") {
        max-width: 50%;
      }

      .desc {
        max-width: unset;
        text-align: start;
      }
    }
  }


  .projectSection {
    @include blockLayout;
    margin-block: 0 !important;

    .projectHeader {
      @include blockLayout;
      @include contentSizing;
      padding: 0;

      @include minWidth("desktop") {
        .title {
          max-width: 60%;
        }
      }

      .chip {
        left: unset
      }
    }

    .projects {
      @include gridLayout(200px);


      .projectCard {
        @include cardBlock;

        @include minWidth('tablet') {
          text-align: center;
        }
      }
    }

    .ctaBtns {
      @include ctaBtn;
    }
  }

  .supportBlock {
    @include blockLayout;
    @include contentSizing;
  }
}
