@use "styles/variables.module" as *;
@use "styles/mixins.module.scss" as *;
@use "styles/functions.module.scss" as *;

.aboutRoot {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: rem(80);

  @include minWidth ('tablet') {
    gap: rem(160);
  }

  @include minWidth ('desktop') {
    gap: rem(180);
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-inline: 20px;
    margin-block: 40px;
    position: relative;
    gap: rem(18);

    @include minWidth('tablet') {
      align-items: center;
      margin-block: 80px;
    }

    .chip {
      font-size: $small;
      display: flex;
      align-items: flex-end;
      position: absolute;
      bottom: 102%;
      gap: rem(8)
    }

    .title {
      @include highlight;

      @include minWidth('mobile') {
        font-size: $h4;
        line-height: rem(45);
      }

      @include minWidth('tablet') {
        font-size: $h3;
        line-height: rem(55);
        text-align: center;
      }

      @include minWidth('desktop') {
        font-size: $h1;
        line-height: rem(65);
      }
    }

    .desc {
      word-wrap: break-word;
      font-size: $small;


      @include minWidth('tablet') {
        font-size: $regular;
        text-align: center;
      }

      @include minWidth('desktop') {
        font-size: $medium;
      }

    }

    .ctaBtns {
      @include ctaBtn;
    }
  }
}
