@use "styles/variables.module.scss" as *;
@use "styles/functions.module.scss" as *;
@use "styles/mixins.module.scss" as *;

.root {
  columns: 1;
  padding: 20px;
  break-inside: avoid;

  @include minWidth("mobile") {
    columns: 2;
  }

  @include minWidth("tablet") {
    columns: 3;
  }

  @include minWidth("desktop") {
    columns: 6;
  }

  .masonItem {
    width: 100%;
    margin: 16px 0;
    display: grid;
    place-items: center;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;

    img {
      width: 100%;
      transition: transform 0.3s ease;
    }

    &:hover img {
      transform: scale(1.2);
    }
  }
}
