@use "sass:color";
@use "styles/variables.module.scss" as *;
@use "styles/functions.module.scss" as *;
@use "styles/mixins.module.scss" as *;

.root {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: rem(80);

  @include minWidth("tablet") {
    gap: rem(160);
  }

  .section {
    @include sectionTemplate;

    .formGroup {
      display: flex;
      flex-direction: column;
      gap: rem(16);

      label {
        display: flex;
        flex-direction: column;
        gap: rem(8);
      }

      label,
      textarea,
      input {
        font-size: $tiny;

        @include minWidth("tablet") {
          font-size: $small;
        }

        @include minWidth("desktop") {
          font-size: $normal;
        }
      }

      input {
        width: 100%;
        padding: rem(8) rem(16);
        background-color: transparent;
        border: 1px solid $black;
        transition: all 0.2s ease-in-out;

        &:focus {
          outline: none;
          border-color: $accent;
        }

        &::placeholder {
          color: $black;
          opacity: 0.2;
        }
      }

      textarea {
        width: 100%;
        height: rem(200);
        padding: rem(8) rem(16);
        background-color: transparent;
        border: 1px solid $black;
        resize: none;
        transition: all 0.2s ease-in-out;

        &:focus {
          outline: none;
          border-color: $accent;
        }

        &::placeholder {
          color: $black;
          opacity: 0.2;
        }
      }
    }
  }

  .newsletter {
    @include sectionTemplate;
    padding: rem(20);
    box-shadow: 0px 0px 60px 10px color.adjust($accent, $alpha: -0.5);

    @include minWidth("desktop") {}

    .sectionImage {
      max-height: 200px;

      @include minWidth("tablet") {
        max-width: 40%;
        max-height: 400px;
      }
    }
  }
}
