@use "sass:color";
@use "./functions.module.scss" as *;
@use "./variables.module" as *;

// breakpoints
$mobile: rem(480);
$tablet: rem(768);
$desktop: rem(1024);
$large-desktop: rem(1280);

@mixin minWidth($breakpoint) {
	@if $breakpoint == "mobile" {
		@media (min-width: #{$mobile}) {
			@content;
		}
	} @else if $breakpoint == "tablet" {
		@media (min-width: #{$tablet}) {
			@content;
		}
	} @else if $breakpoint == "desktop" {
		@media (min-width: #{$desktop}) {
			@content;
		}
	} @else if $breakpoint == "large-desktop" {
		@media (min-width: #{$large-desktop}) {
			@content;
		}
	}
}

// Color and background shades
@mixin greenShade() {
	color: color.adjust($accent, $lightness: -20%);
	background-color: color.adjust($accent, $lightness: 35%);
}

@mixin blueShade() {
	color: color.adjust($primary, $lightness: -5%);
	background-color: color.adjust($primary, $lightness: 50%);
}

@mixin redShade() {
	color: color.adjust($error, $lightness: -20%);
	background-color: color.adjust($error, $lightness: 35%);
}

@mixin yellowShade() {
	color: color.adjust(orangered, $lightness: -20%);
	background-color: color.adjust($secondary, $lightness: 16%);
}

// backgroundColors
@mixin commonBgColorStyle($color, $lightness, $bgImg: null) {
	position: relative;
	z-index: 0;

	&::before {
		content: "";
		height: 100%;
		width: 100%;
		position: absolute;
		inset: 0;
		z-index: -1;

		margin-inline: auto;
		border-radius: rem(16);
		max-width: calc($max-width + rem(100));
		background-color: color.adjust($color, $lightness: $lightness);
		background-image: $bgImg;
	}
}

// background grid pattern
@mixin gridbgColor($color: $accent) {
	background-color: color.adjust($color, $hue: 3deg);
	@include gridBackground($color, 3%, "vertical");
}

@mixin gridBackground($color, $lightenPercentage, $type: "grid") {
	background-size: 30px 30px;

	@if $type == "horizontal" {
		background-image: linear-gradient(
			to bottom,
			color.adjust($color, $lightness: $lightenPercentage) 1px,
			transparent 1px
		);
	} @else if $type == "vertical" {
		background-image: linear-gradient(
			to right,
			color.adjust($color, $lightness: $lightenPercentage) 1px,
			transparent 1px
		);
	} @else if $type == "grid" {
		background-image:
			linear-gradient(
				to right,
				color.adjust($color, $lightness: $lightenPercentage) 1px,
				transparent 1px
			),
			linear-gradient(
				to bottom,
				color.adjust($color, $lightness: $lightenPercentage) 1px,
				transparent 1px
			);
	}
}

// hover action
@mixin underlineOnHover($color: $secondary) {
	position: relative;

	&::after {
		content: "";
		width: 0;
		height: 5px;

		position: absolute;
		left: 0;
		top: 100%;

		background: linear-gradient(to right, $color 0%, $color 100%);
		transition: width 0.3s ease-in-out;
		pointer-events: none;
	}

	&:hover::after {
		width: 100%;
	}
}

// custom text decoration
@mixin highlight($color: $accent) {
	color: $white;
	position: relative;
	border-radius: rem(4);
	padding-inline-start: rem(4);
	background: $color;

	// &::before,
	// &::after {
	// 	content: "";
	// 	position: absolute;
	// 	top: 75%;
	// 	left: 0;
	// 	width: 100%;
	// 	height: 8px;
	// 	background-image: linear-gradient(to right, rgba(255, 215, 0, 0.5), rgba(255, 215, 0, 0));
	// }
}

// idle animations
@mixin borderGradient($duration: 15000ms, $fullborder: true) {
	$color1: $primary;
	$color2: rgba(168, 239, 255, 0.1);

	@if $fullborder {
		border: rem(1) solid transparent;
	} @else {
		border-top: rem(1) solid $color1;
	}

	border-image: conic-gradient(
			from var(--angle),
			$color2,
			$color1 0.05turn,
			$color1 0.1turn,
			$color2 0.2turn
		)
		30;
	animation: borderRotate $duration cubic-bezier(0.78, -0.02, 0.11, 1.04) infinite;

	@keyframes borderRotate {
		100% {
			--angle: 420deg;
		}
	}
}

@property --angle {
	syntax: "<angle>";
	initial-value: 90deg;
	inherits: true;
}
