@use "./functions.module" as *;

// colors
$black: #4e2c14;
$white: #f2f2f2;
$accent: #6faf64;
$primary: #2b4f81;
$secondary: #ffd966;
$error: #f44336;
$opaque-white: #f2f2f200;

//Text fonts
$large: rem(20);
$medium: rem(18);
$regular: rem(16);
$small: rem(14);
$tiny: rem(12);
$icon: rem(32);

// max-width
$max-width: 1440px;

// Title Fonts
$h1: rem(56);
$h2: rem(48);
$h3: rem(40);
$h4: rem(32);
$h5: rem(24);
$h6: rem(20);

// font weights
$light: 300;
$normal: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;

// box shadows
$shadow-soft: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$shadow-hard: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

$shadow-outset: 6px 6px 12px #c5c5c5,
  -6px -6px 12px #ffffff;

$shadow-inset: inset 4px 4px 12px #c5c5c5,
  inset -4px -4px 12px #ffffff;

// font families
$primary-font: "Poppins", sans-serif;
$heading-font: "Montserrat", sans-serif;
$logo-font: "Aldrich", serif;
$icon-font: "Material Symbols Outlined", sans-serif;
