@use "sass:color";
@use "./functions.module" as *;

// colors
$black: #4e2c14;
$white: #ffffff;
$accent: #6faf64;
$primary: #2b4f81;
$secondary: #ffd966;
$error: #f44336;
$opaque-white: color.adjust($white, $alpha: -0.2);

//Text fonts
$large: rem(18);
$medium: rem(16);
$regular: rem(14);
$small: rem(12);
$tiny: rem(10);
$icon: rem(24);

// max-width
$max-width: 1440px;

// Title Fonts
$h1: rem(48);
$h2: rem(40);
$h3: rem(32);
$h4: rem(24);
$h5: rem(22);
$h6: rem(18);

// font weights
$light: 300;
$normal: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;

// box shadows
$shadow-soft: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$shadow-hard: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

$shadow-outset:
	6px 6px 12px #c5c5c5,
	-6px -6px 12px #ffffff;

$shadow-inset:
	inset 4px 4px 12px #c5c5c5,
	inset -4px -4px 12px #ffffff;

// gradients
$bottomFade: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 30%, rgba(0, 0, 0, 0) 100%);

// font families
$primary-font: "Poppins", sans-serif;
$heading-font: "Montserrat", sans-serif;
$logo-font: "Aldrich", serif;
$icon-font: "Material Symbols Outlined", sans-serif;
