@use "styles/functions.module" as *;

// colors
$black: #4e2c14;
$white: #f2f2f2;
$accent: #6faf64;
$primary: #2b4f81;
$secondary: #ffd966;
$error: #f44336;

//Text fonts
$large: rem(20);
$medium: rem(18);
$regular: rem(16);
$small: rem(14);
$tiny: rem(12);
$icon: rem(32);

// Title Fonts
$h1: rem(56);
$h2: rem(48);
$h3: rem(40);
$h4: rem(32);
$h5: rem(24);
$h6: rem(20);

// font weights
$light: 300;
$normal: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;

// font families
$primary-font: "Poppins", sans-serif;
$heading-font: "Montserrat", sans-serif;
$icon-font: "Material Symbols Outlined", sans-serif;
