@use "styles/variables.module.scss" as *;
@use "styles/functions.module.scss" as *;
@use "styles/mixins.module.scss" as *;

.root {
	gap: rem(80);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	@include minWidth("tablet") {
		gap: rem(160);
	}

	@include minWidth("desktop") {
		gap: rem(180);
	}
}
